:root {
  --button-display: flex;
  --button-align: center;
  --button-justify: center;
  --button_max_height: 55px;
  --button_max_width: 201px;
  --button-background: #F758FA;
  --button-background-hover: #cd53cf;
  --button-color: #fff;
  --button-font-size: calc(60%);
  --button-font-weight: 600;
  --button-padding: 0.7rem 1.4rem;
  --button-corner-radius: 5px;
  --button-active-scale: 0.98;
  --button-sec-bg: #fff;
  --button-sec-color: #F758FA;
  --button-sec-font-weight: 600;
  --button-sec-box-shadow: 2px 5px 15px 0 #c4c4c490;
  --button-sec-hover-bg: #fafafa;
}

button.btn__docs {
  display: var(--button-display);
  align-items: var(--button-align);
  justify-content: var(--button-justify);
  max-height: var(--button_max_height);
  max-width: var(--button_max_width);
  background: var(--button-background);
  color: var(--button-color);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  margin: 0 4px;
  border: none;
  outline: none;
  padding: var(--button-padding);
  border-radius: var(--button-corner-radius);
  cursor: pointer;
  transition: 0.15s;
}

button.btn__docs:hover {
  background: var(--button-background-hover);
}

button.btn__docs:active {
  transform: scale(var(--button-active-scale));
}

/* Secondary Button */
button.btn__docs.sec {
  background: var(--button-sec-bg);
  color: var(--button-sec-color);
  font-weight: var(--button-sec-font-weight);
  box-shadow: var(--button-sec-box-shadow);
}

button.btn__docs.sec:hover {
  background: var(--button-sec-hover-bg);
}