:root {
    --button-display: flex;
    --button-align: center;
    --button-justify: center;
    --button_height: 20px;
    --button_width: 100px;
    --button-background: #166edc;
    --button-background-hover: #166edcaa;
    --button-color: #fff;
    --button-padding: 1rem 1.5rem;
    --button-margin: 1rem 1.2rem;
    --button-corner-radius: 5px;
}

button.btn__docs {
    display: var(--button-display);
    align-items: var(--button-align);
    justify-content: var(--button-justify);
    height: var(--button_height);
    width: var(--button_width);
    background: var(--button-background);
    color: var(--button-color);
    border: none;
    outline: none;
    padding: var(--button-padding);
    margin: var(--button-margin);
    border-radius: var(--button-corner-radius);
    cursor: pointer;
    transition: 0.15s;
}

button.btn__docs:hover {
    background: var(--button-background-hover);
}