:root {
  --header-color: rgb(36, 36, 36);
  --header-font-size: calc(10px + 2vmin);
  --header-font-weight: bold;
}

header.header__docs {
  color: var(--header-color);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  border: none;
  outline: none;
  transition: 0.15s;
}