.App {
  background-color: #F8F8F8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

/*
  Local Classes for easy uses
*/
.no-margin {
  margin: 0;
}

.no-padding{
  padding: 0;
}