@font-face {
  font-family: "Alliance Bold";
  src: url("./assets/fonts/alliance/alliance-no-1-bold.woff");
}

@font-face {
  font-family: "Alliance Extra Bold";
  src: url("./assets/fonts/alliance/alliance-no-1-extrabold.woff");
}

@font-face {
  font-family: "Alliance Medium";
  src: url("./assets/fonts/alliance/alliance-no-1-medium.woff");
}

@font-face {
  font-family: "Alliance Regular";
  src: url("./assets/fonts/alliance/alliance-no-1-regular.woff");
}

@font-face {
  font-family: "Alliance";
  src: url("./assets/fonts/alliance/alliance-no-1-regular.woff");
}

$web-font: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;

* {
  font-family: $web-font;
}

*::selection {
  background: #f758fa;
  color: #fff;
}

body {
  margin: 0;
  font-family: $web-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background: #e4e4e4aa;
  padding: 2px;
  margin: 4px;
  border-radius: 6px;
}

/* Remove text-underline from links */
a {
  text-decoration: none;
}
