:root {
  --web-font: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

* {
  font-family: var(--web-font);
}

*::selection {
  background: #f758fa;
  color: #fff;
}

body {
  margin: 0;
  font-family: var(--web-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background: #e4e4e4aa;
  padding: 2px;
  margin: 4px;
  border-radius: 6px;
}

/* Remove text-underline from links */
a {
  text-decoration: none;
}
