:root {
    --navbar-height: 55px;
    --navbar-width: 100vw;
    --navbar-display: flex;
    --navbar-flex-direction: row;
    --navbar-align: center;
    --navbar-justify: center;
}

nav.navbar__docs {
    height: var(--navbar-height);
    width: var(--navbar-width);
    display: var(--navbar-display);
    flex-direction: var(--navbar-flex-direction);
    align-items: var(--navbar-align);
    justify-content: var(--navbar-justify);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(24px);
}

nav.navbar__docs.with-anim {
    animation: slide-in 1s ease-in-out;
}

/*
    Slide in Animation for .with-anim class
*/

@keyframes slide-in {
    from {
        transform: translateY(-180px);
    }

    to {
        transition: translateY(0);
    }
}